


  <div class="container-fluid">
    <h2  style="color: #ff6600" class="m-5">{{title}}</h2>
  


    <div
      class="form-group bmd-form-group is-filled m-5"
      [formGroup]="indicateurForm"
    >
      <div class="row mb-5">
        <div class="col-md-12">
          <!-- Intitulé du KPI -->
          <mat-form-field class="example-full-width">
            <textarea
              matInput
              type="text"
              name="name"
              placeholder="Intitulé de l'indicateur"
              formControlName="name"
              required
            ></textarea>
          </mat-form-field>
        </div>
        
      </div>

      <div class="row mb-5">
        <div class="col-md-12">
          <!-- Description -->
          <mat-form-field class="example-full-width">
            <textarea
              matInput
              type="text"
              name="description"
              placeholder="Description du KPI"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>

      
      </div>

      <div class="row mb-5">
        <div class="col-md-6">
          <br />
          <br />
          <ng-multiselect-dropdown
            [placeholder]="'Sous-objectif de rattachement'"
            [settings]="sousObjectisdropdownSettings"
            [data]="sousObjectifs"
            [formControl]="indicateurForm.controls['sousObjectifId']"
            required
          >
          </ng-multiselect-dropdown>
        </div>
          <!-- Structure du KPI -->
          <div class="col-md-6">
            <br />
            <br />
            <ng-multiselect-dropdown
              [placeholder]="'Structure  du KPI'"
              [settings]="structuredropdownSettings"
              [data]="structures"
              [formControl]="indicateurForm.controls['selectedStructures']"
              (onSelect)="onStructureSelect($event)"
              (onDeSelect)="onStructureDeSelect($event)"
              required
            >
            </ng-multiselect-dropdown>
          </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-6">
          <!-- Propriétaire de KPI -->

          <ng-multiselect-dropdown
            [placeholder]="'Propriétaires de KPI'"
            [settings]="proprietairedropdownSettings"
            [data]="proprietaires"
            [formControl]="
              indicateurForm.controls['selectedProprietaires']
            "
            (onSelect)="onProprietaireSelect($event)"
            (onDeSelect)="onProprietaireDeSelect($event)"
            [disabled]="collaborateurDisabled"
            required
          >
          </ng-multiselect-dropdown>
        </div>

        <!-- Suppléants -->
        <div class="col-md-6">
          <ng-multiselect-dropdown
            [placeholder]="'Suppléant(s) du propriétaire de KPI'"
            [settings]="suppleantdropdownSettings"
            [data]="suppleants"
            [formControl]="indicateurForm.controls['selectedSuppleants']"
            (onSelect)="onSuppleantSelect($event)"
            (onDeSelect)="onSuppleantDeSelect($event)"
            [disabled]="collaborateurDisabled"
            required
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="row mb-5">
        <!-- Structure des analystes du KPI -->
        <div class="col-md-6">
          <ng-multiselect-dropdown
            [placeholder]="'Structure des analystes du KPI'"
            [settings]="structuredropdownSettings"
            [data]="structures"
            [formControl]="
              indicateurForm.controls['selectedAnalystesStructures']
            "
            (onSelect)="onStructureAnalysteSelect($event)"
            (onDeSelect)="onStructureAnalystesDeSelect($event)"
            required
          >
          </ng-multiselect-dropdown>
        </div>

        <!-- Responsable de l'analyse -->
        <div class="col-md-6">
          <ng-multiselect-dropdown
            [placeholder]="'Responsable des analyses du KPI'"
            [settings]="suppleantdropdownSettings"
            [data]="analystes"
            [formControl]="indicateurForm.controls['selectedAnalystes']"
            [disabled]="analystesChoiceDisabled"
            required
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="row mb-5">
        <!-- Origine -->
        <div class="col-md-4">
          <mat-form-field>
            <mat-select
              placeholder="Origine"
              formControlName="origineId"
              required
            >
              <mat-option
                *ngFor="let origine of origines"
                [value]="origine.id"
              >
                {{ origine.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Type d'indicateur -->
        <div class="col-md-4">
          <mat-form-field>
            <mat-select
              placeholder="Type d'indicateur"
              formControlName="typeIndicateurId"
              required
            >
              <mat-option
                *ngFor="let typeIndicateur of typeIndicateurs"
                [value]="typeIndicateur.id"
              >
                {{ typeIndicateur.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Périodicité -->
        <div class="col-md-4">
          <mat-form-field>
            <mat-select
              placeholder="Périodicité"
              formControlName="periodiciteId"
              required
            >
              <mat-option
                *ngFor="let periodicite of periodicites"
                [value]="periodicite.id"
              >
                {{ periodicite.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-5">
        <!-- Tendance -->
        <div class="col-md-3">
          <mat-form-field>
            <mat-select
              placeholder="Tendance"
              formControlName="tendanceId"
              required
            >
              <mat-option
                *ngFor="let tendance of tendances"
                [value]="tendance.id"
              >
                {{ tendance.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Valeur Cible -->
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="number"
              name="valeur_cible"
              placeholder="Valeur Cible"
              formControlName="valeur_cible"
              required
            />
          </mat-form-field>
        </div>
        <!-- Unité -->
        <div class="col-md-3">
          <mat-form-field>
            <mat-select
              placeholder="Unité"
              formControlName="uniteId"
              required
            >
              <mat-option *ngFor="let unite of unites" [value]="unite.id">
                {{ unite.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Opération -->
        <div class="col-md-3">
          <mat-form-field>
            <mat-select
              placeholder="Opération"
              formControlName="operationId"
              required
            >
              <mat-option
                *ngFor="let operation of operations"
                [value]="operation.id"
              >
                {{ operation.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-5">
        <!-- Formule de calcul -->
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <textarea
              matInput
              type="text"
              name="formule_calcul"
              placeholder="Formule de calcul du KPI"
              formControlName="formule_calcul"
            ></textarea>
          </mat-form-field>
        </div>
        <!-- Loi de composition -->
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <textarea
              matInput
              type="text"
              name="loi_composition"
              placeholder="Loi de composition du KPI"
              formControlName="loi_composition"
            ></textarea>
          </mat-form-field>
        </div>

        
      </div>
      <div class="row mb-5">
        <!-- Analyse Requise -->
        <div class="col-md-offset-4 col-md-4">
          <mat-radio-group
            class="example-radio-group"
            formControlName="analyseRequise"
          >
            <mat-radio-button
              class="example-radio-button"
              [value]="true"
              style="margin-right: 10px"
            >
              Vérouiller PA
            </mat-radio-button>
            <mat-radio-button
              class="example-radio-button"
              [value]="false"
            >
              PA non vérouillé
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <!--  form-group -->
  
  

  <div class="d-flex justify-content-center align-items-center mb-5">
    <button
      mat-raised-button
     
      type="button"
      class="btn btn-success mr-5"
      [disabled]="!indicateurForm.valid"
      (click)="addIndicateur(indicateurForm.value)"
      
    >
      Valider
    </button>
    <button
      mat-raised-button
      type="button"
      class="btn btn-danger"
     
    >
      Annuler
    </button>
  </div>
</div>


